#############################################################################
#                            All Snippets                                   #
#############################################################################

# environment
snippet en "Shebang env" b
#!/usr/bin/env ${1:sh}
$0
endsnippet

snippet vim "#vim" b
vim:tw=78:ts=4:sw=4:sts=4:et:fdm=marker
endsnippet
