#############################################################################
#                            All Snippets                                   #
#############################################################################

# environment
snippet en "Shebang env" b
#!/usr/bin/env ${1:sh}
$0
endsnippet

# vim settings
snippet vi "#vim" b
vim:tw=78:ts=8:sw=4:sts=4:et:fdm=marker
endsnippet
